<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Item</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center">Add New Item</h2>
  <form th:action="@{/atm/add}" th:object="${inventory}" method="post" class="mt-4">
 
    <div class="form-group">
        <label for="accno">Account Number:</label>
        <input type="text" class="form-control" id="accno" placeholder="Enter Account Number" th:field="*{accno}" required>
      </div>
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter User Name" th:field="*{username}" required>
    </div>
    <div class="form-group">
      <label for="accbal">Account Balance:</label>
      <input type="text" class="form-control" id="accbal" placeholder="Enter Your  accbal" th:field="*{accbal}" required>
    </div>
    <div class="form-group">
      <label for="pin">PIN:</label>
      <input type="text" class="form-control" id="pin" placeholder="Enter PIN " th:field="*{pin}" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>