<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Items</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center">List of Items</h2>
  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th>ID</th>
      <th>Account Number</th>
      <th>User Name</th>
      <th>Account Balance</th>
      <th>PIN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventory}">
      <td th:text="${inventory.id}"></td>
      <td th:text="${inventory.accno}"></td>
      <td th:text="${inventory.username}"></td>
      <td th:text="${inventory.accbal}"></td>
      <td th:text="${inventory.pin}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>